
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SIGN FOR A CAUSE </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Codystar&display=swap">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header> <h1>  SIGN FOR A CAUSE </h1> </header>



    {{{body}}}


    <footer>
        <span class="footer-close"> X </span>
        &nbsp; By using this website you agree to the use of cookies in accordance with our data privacy policy. <br />
    </footer>

<script src="/footer.js"></script>
</body>

</html>
