<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Codystar&display=swap">
        <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header> <h1>  SIGN FOR A CAUSE </h1> </header>



    {{{body}}}



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
<script src="/color.js"> </script>
</html>
