<section class="signers">

  <h3> YOUR SIGNATURE HAS BEEN DELETED - YOU ARE NO LONGER PART OF THIS COMMUNITY</h3>
  <a class="link sign-again" href='/sign'> Did a mistake? no worries! you can sign here again!</a>

</section>
